<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lava.demo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/dollar"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LenderActivity"
            android:label="@string/title_activity_lender">

        </activity>
        <activity
            android:name=".activity.BorrowerActivity"
            android:label="@string/title_activity_borrower">

        </activity>
    </application>

</manifest>
